Options +Indexes
AddDescription "Temp
Temp" "temp.html" #Sun, 26 Jul 2020 10:28:57 +0300
AddDescription "It's Alive!" "its-alive.html" #Sun, 26 Jul 2020 11:36:57 +0300
AddDescription "TV Shouldn't Have Existed" "tv-shouldnt-have-existed.html"
AddDescription "Just Sell Your Phone Already" "just-sell-your-phone-already.html"
